argparse
langchain>=0.0.231
lxml
pymongo
requests
bs4
openai
tiktoken
langchain[all]
langchain
openai
langchain-openai
langchain-community
langchain-core
langchain_experimental
langchain-experimental
streamlit
streamlit-chat