argparse
langchain>=0.0.231
lxml
pymongo
requests
bs4
openai
tiktoken
dotenv
langchain[all]
langchain
openai
langchain-openai
langchain_openai
langchain-community
langchain-core
streamlit
streamlit-chat